.menu {
    display: flex;
    

}

.headermenu {
    height: 60px;
    font-weight: 700;
    
    
}

.menu h5 {
    display: block;
    padding: 0 16px;
    height: 60px;
    font-size: 16px;
    color: #000;
    line-height: 60px;
}


.menu span {
    width: 1px;
    height: 20px;
    border: 1px solid rgb(206, 41, 41);
    margin-top: 18px;
    margin-left: 26px;
    margin-right: 26px;
}