.home__banner {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 90px;
    margin-bottom: 90px;
    
}

.layout__banner {
    text-align: center;
}

.layout__banner h2 {
    font-weight: 300;
    letter-spacing: 1px;
}

