* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: klavika;
}

@font-face {
    font-family: klavika;
    src: url('./assets/font/klavika-bold-italic.otf');
    font-weight: 600;
}

@font-face {
    font-family: klavika;
    src: url('./assets/font/klavika-bold.otf');
    font-weight: 700;
}
@font-face {
    font-family: klavika;
    src: url('./assets/font/klavika-light-italic.otf');
    font-weight: 500;
}

@font-face {
    font-family: klavika;
    src: url('./assets/font/klavika-light.otf');
    font-weight: 400;
}

@font-face {
    font-family: klavika;
    src: url('./assets/font/klavika-medium-italic.otf');
    font-weight: 800;
}

@font-face {
    font-family: klavika;
    src: url('./assets/font/klavika-medium.otf');
    font-weight: 900;
}

@font-face {
    font-family: klavika;
    src: url('./assets/font/klavika-regular-italic.otf');
    font-weight: 1000;
}

a {
    text-decoration: none;
    color: unset;
  }

img {
    width: 100%;
}